* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    text-align: center;
    font-family: sans-serif;
}

/* Encabezado */
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.logo {
    margin-left: 25px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

.navbar a:hover {
    background: #1ebae9;
}

/* Introduccion */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: url(img/costos.jpg) no-repeat center;
    background-size: cover;
    padding: 15px 0;
}

.title {
    margin-bottom: 10px;
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.texto-justificado {
    text-align: justify;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 150px;
}

.content {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 /* Que es*/
.sau {
    padding: 5px 0;
    background: #303030;
}

/* Temario */
.about {
    padding: 5px 0;
    background: url(img/header.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

 /* Historia */
.history {
    padding: 170px 0px;
    background: #303030;
}

/* Unidades */
.unit {
    padding: 30px 0px;
    background: url(img/costos.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: centers;
}

.box-container .box {
    height: 170px;
    width: 270px;
    background: #171717;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
    margin: 20px;
}

.box-container .box i {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #b16ed8;
    font-size: 25px;
    margin: 10px 0;
}

.box-container .box h3 {
    font-size: 20px;
    color: #1ebae9;
}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

/* Practicas */
.practica {
    padding: 125px 0px;
    background: #303030;
}

/* Logotipo Tec */
.lg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: url(img/costos.jpg) no-repeat center;
    background-size: cover;
    padding: 0px 0;
}